POSTGRES_DB=stock_control
POSTGRES_USER=autoflex
POSTGRES_PASSWORD=autoflex

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/stock_control
SPRING_DATASOURCE_USERNAME=autoflex
SPRING_DATASOURCE_PASSWORD=autoflex