POSTGRES_DB=stock_control
POSTGRES_USER=autoflex
POSTGRES_PASSWORD=autoflex

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/stock_control
SPRING_DATASOURCE_USERNAME=autoflex
SPRING_DATASOURCE_PASSWORD=autoflex

KC_DB_NAME=keycloak
KC_DB_USER=keycloak_user
KC_DB_PASSWORD=keycloak_pass

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KEYCLOAK_EXTERNAL_URL=http://localhost:8081
KEYCLOAK_INTERNAL_URL=http://stock-control-auth:8080
