<div class="p-6 bg-slate-50 min-h-screen flex justify-center items-start pt-16">
  <mat-card class="w-full max-w-md shadow-2xl !rounded-3xl border-none">
    <mat-card-header class="p-6">
      <mat-card-title class="text-xl font-black text-slate-800 uppercase tracking-tighter">
        {{ materialId ? 'Edit Material' : 'New Raw Material' }}
      </mat-card-title>
    </mat-card-header>

    <form [formGroup]="materialForm" (ngSubmit)="onSubmit()" class="p-6 pt-0">
      <mat-card-content class="flex flex-col gap-4">

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" placeholder="Ex: WD-01">
          <mat-icon matSuffix>qr_code</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Description</mat-label>
          <input matInput formControlName="name" placeholder="Ex: Oak Wood Plank">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Current Quantity</mat-label>
          <input matInput type="number" formControlName="quantity">
          <mat-icon matSuffix>inventory</mat-icon>
          <mat-error *ngIf="materialForm.get('quantity')?.hasError('min')">Cannot be negative</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="flex justify-end gap-2 p-4">
        <button type="button" mat-button routerLink="/raw-materials">Back</button>
        <button type="submit" mat-flat-button color="primary"
                class="!rounded-full px-8 shadow-lg shadow-indigo-200"
                [disabled]="materialForm.invalid">
          {{ materialId ? 'Save Changes' : 'Register' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
